#CustomTableV2 .MuiCheckbox-colorPrimary.Mui-checked {
  color: color(primary50);
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-row:hover {
  background-color: color(neutral0);
  -webkit-transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  width: auto;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-row:hover .deleteIcon {
  display: block;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
          box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  -webkit-transition: -webkit-box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  width: auto;
  background-color: color(neutral20);
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-columnHeaderWrapper {
  border-top: 1px solid color(neutral20);
}

#CustomTableV2 .MuiButton-textPrimary {
  margin-right: -24px;
}

#CustomTableV2 .MuiButton-textPrimary:hover {
  background-color: white !important;
}

#CustomTableV2 .MuiDataGrid-toolbarContainer {
  height: 56px;
  float: right;
  margin-right: 20px;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-columnsContainer {
  border-bottom: 1px solid color(neutral20) !important;
}

#CustomTableV2 .MuiDataGrid-overlay {
  font-size: 24px !important;
  font-family: "Inter" !important;
  display: none;
}

#CustomTableV2 .noData {
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#CustomTableV2 .imageButton {
  border-radius: 50%;
}

#CustomTableV2 .imageButton:hover {
  -webkit-box-shadow: 0px 0px 0px 7px #F0F1F3;
          box-shadow: 0px 0px 0px 7px #F0F1F3;
  background-color: #F0F1f3;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  color: color(neutral60) !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  font-family: "Inter" !important;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-cell {
  text-overflow: unset !important;
  overflow-x: auto !important;
  color: color(neutral100) !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  font-family: "Inter" !important;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-columnHeader:focus, #CustomTableV2 .MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within, #CustomTableV2 .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

#CustomTableV2 .MuiMenuItem-root {
  color: color(neutral60) !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  font-family: "Inter" !important;
}

#CustomTableV2 .MuiDataGrid-root {
  border: none;
}

#CustomTableV2 .MuiTablePagination-caption {
  color: color(neutral60) !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  font-family: "Inter" !important;
  background-color: white !important;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-rowCount, #CustomTableV2 .MuiDataGrid-root .MuiDataGrid-selectedRowCount {
  color: color(neutral60) !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  font-family: "Inter" !important;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-footerContainer {
  position: absolute;
  top: 4px;
  right: 65px;
}

#CustomTableV2 .MuiButton-label {
  color: color(neutral60) !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  font-family: "Inter" !important;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-columnSeparator {
  display: none;
}

#CustomTableV2 .deleteIcon {
  display: none;
}

#CustomTableV2 button:focus {
  outline: none;
}

#CustomTableV2 .MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  padding: 0;
}

#CustomTableV2 .MuiButton-textSizeSmall {
  min-width: unset !important;
  margin-left: 24px !important;
}

#CustomTableV2 .MuiCheckbox-root .MuiIconButton-label svg {
  height: 20px !important;
  width: 20px !important;
}
/*# sourceMappingURL=customtablev2.css.map */