#SignupHeader{
    max-height: 70px;
    // border-bottom: 0.5px solid color(neutral10);
    padding         : 9px 27px 9px 27px;
    position        : sticky;
    background-color: white;
    z-index         : 100000;
    top             : 0px;
    left            : 0px;
    box-shadow      : 0px 1px 12px 1px rgba(36, 50, 66, 0.08);

    .logoBox{
        text-align: right;
        border-radius: 50%;
    }

    .buttonBox{
        text-align: left;
        display: flex;
        float: right;
        justify-content: flex-end;
        padding-top: 4px;

    }

    .contents{
        padding-top: 6px;
    }

    .captions{
        float: left;
    }

    .caption2{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;

        
    }

    .loginButton:hover{
        background-color: color(primary60);
    }


    #firstText{
        color: color(neutral70);
    }

    .loginButton{
        background-color: color(primary50);
        color: white;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.5px;
        padding: 12px 8px;
        width: 112px;
        height: 48px;
        border-radius: 8px;
        text-decoration: none;
    }

    #secondText{
        margin-top: -8px;
    }

    .textButton{
        padding-right: 0px;
        margin-right: -40px;
        
    }


    @media screen and (max-width: 812px) {
        
        .logoBox{
            display: none;
        }

        #firstText{
            display: none;
        }

        .textButton{
            margin-right: 0px;
        }

        #cardEnclosed{
            margin-left: 5px;
        }
    }
}