#Inventory #AddInventory, #AddDeal #AddInventory {
  height: calc(100vh - 84px);
}

#Inventory #AddInventory .box, #AddDeal #AddInventory .box {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(223, 225, 230, 0.5), 0px 1px 4px rgba(223, 225, 230, 0.5);
          box-shadow: 0px 0px 0px 1px rgba(223, 225, 230, 0.5), 0px 1px 4px rgba(223, 225, 230, 0.5);
}

#Inventory #AddInventory .imageUploadBox, #AddDeal #AddInventory .imageUploadBox {
  height: 90px;
  width: 163px;
  border-radius: 4px;
  background-color: #F7F7F7;
  overflow: hidden;
  border: 1px solid #DFE1E6;
}

#Inventory #AddInventory .leftSection, #AddDeal #AddInventory .leftSection {
  height: calc(100vh - 84px);
  overflow-y: scroll;
}

#Inventory #AddInventory .rightSection, #AddDeal #AddInventory .rightSection {
  height: calc(100vh - 84px);
  position: relative;
  background-color: #fcfcfc;
}

#Inventory #AddInventory .searchBox, #AddDeal #AddInventory .searchBox {
  padding: 24px;
  position: absolute;
  margin-right: 0px !important;
  margin-left: 0px !important;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 1px 0px #DFE1E6;
          box-shadow: 0px 1px 0px #DFE1E6;
}

#Inventory #AddInventory .itemBoxBottom, #AddDeal #AddInventory .itemBoxBottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: color(white);
  overflow: hidden;
  -webkit-box-shadow: 0px -1px 4px 0px rgba(4, 16, 39, 0.12);
          box-shadow: 0px -1px 4px 0px rgba(4, 16, 39, 0.12);
}

#Inventory #AddInventory .removeBtnBox, #AddDeal #AddInventory .removeBtnBox {
  padding: 4px 8px 4px 12px;
  z-index: 100;
  background-color: white;
}

#Inventory #AddInventory .selectBtn, #AddDeal #AddInventory .selectBtn {
  height: 40px;
  width: 40px;
  color: black !important;
  font-size: 18px !important;
  min-width: 40px !important;
  background-color: white;
  padding: 0px !important;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 1px #DFE1E6;
          box-shadow: 0px 0px 0px 1px #DFE1E6;
}

#Inventory #AddInventory .row, #AddDeal #AddInventory .row {
  margin-left: 0px !important;
}

#Inventory #AddInventory .activeselectBtn, #AddDeal #AddInventory .activeselectBtn {
  height: 40px;
  width: 40px;
  padding: 0px !important;
  color: black !important;
  font-size: 18px !important;
  min-width: 40px !important;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 1px #DFE1E6;
          box-shadow: 0px 0px 0px 1px #DFE1E6;
  background-color: #3770FB;
}

#Inventory #AddInventory .listedItems, #AddDeal #AddInventory .listedItems {
  overflow-y: scroll;
  position: absolute;
  bottom: 72px;
  left: 0px;
  right: 8px;
  top: 120px;
  background-color: white;
}

#Inventory #AddInventory .rowListed, #AddDeal #AddInventory .rowListed {
  -webkit-box-shadow: 0px 1px 0px #DFE1E6;
          box-shadow: 0px 1px 0px #DFE1E6;
  margin-left: 10px !important;
}

#Inventory #AddInventory .leftListedItem, #AddDeal #AddInventory .leftListedItem {
  padding: 18px 12px;
}

#Inventory #AddInventory .productImage, #AddDeal #AddInventory .productImage {
  border-radius: 4px;
  border: 0.5px solid color(neutral20);
}

#Inventory #AddInventory .removeBtn, #AddDeal #AddInventory .removeBtn {
  color: color(danger30);
  background-color: white;
  border: 0px;
}

#Inventory #AddInventory .removeBtn:hover, #Inventory #AddInventory .removeBtn:focus, #AddDeal #AddInventory .removeBtn:hover, #AddDeal #AddInventory .removeBtn:focus {
  outline: 0px;
}

#GiftCard .imageUploadBox {
  height: 90px;
  width: 163px;
  background-color: #F7F7F7;
  overflow: hidden;
  outline: 1px solid #DFE1E6;
  border-radius: 4px;
}

#GiftCard .imageUploadBox img {
  height: inherit;
  width: 160px;
  border-radius: 0px !important;
}

#GiftCard .rightSection {
  margin-top: -16px;
  margin-bottom: -16px;
  position: relative;
  background-color: #fcfcfc;
}

#GiftCard .searchBox {
  padding: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(4, 16, 39, 0.12);
          box-shadow: 0px 1px 4px 0px rgba(4, 16, 39, 0.12);
}

#GiftCard .itemBoxBottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 16px;
  height: 72px;
  background-color: color(white);
  overflow: hidden;
  -webkit-box-shadow: 0px -1px 4px 0px rgba(4, 16, 39, 0.12);
          box-shadow: 0px -1px 4px 0px rgba(4, 16, 39, 0.12);
}

#GiftCard .removeBtnBox {
  padding: 4px 8px 4px 12px;
  z-index: 100;
  background-color: #fcfcfc;
}

#GiftCard .listedItems {
  overflow-y: scroll;
  position: absolute;
  bottom: 72px;
  left: 16px;
  right: 8px;
  top: 120px;
  background-color: #fcfcfc;
}

#GiftCard .leftListedItem {
  padding: 18px 12px;
}

#GiftCard .productImage {
  border-radius: 4px;
  border: 0.5px solid color(neutral20);
}

#GiftCard .removeBtn {
  color: color(danger30);
  background-color: #fcfcfc;
  border: 0px;
}

#GiftCard .removeBtn:hover, #GiftCard .removeBtn:focus {
  outline: 0px;
}

#SingleGiftCard .giftcardTopTitleBox {
  padding: 16px 16px 16px 32px;
}

#SingleGiftCard .tableHeaderRow {
  padding: 12px 0px 12px 32px;
  -webkit-box-shadow: 0px -1px 0px #E5E5E5, 0px 1px 0px #E5E5E5;
          box-shadow: 0px -1px 0px #E5E5E5, 0px 1px 0px #E5E5E5;
}

#SingleGiftCard .singleHeading, #SingleGiftCard .singleData {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

#SingleGiftCard .singleDataRow {
  -webkit-box-shadow: 0px 1px 0px #E5E5E5;
          box-shadow: 0px 1px 0px #E5E5E5;
  padding: 12px 0px 12px 32px;
}

#SingleGiftCard .singleData {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#SingleGiftCard .redeemBox {
  border-radius: 32px;
  height: 32px;
  padding: 8px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 32px;
}

#SingleGiftCard .active {
  background: #EFFFCC;
  border: 1px solid #456600;
}

#SingleGiftCard .notActive {
  background: #EFFFCC;
  border: 1px solid #456600;
}

#AddDeal {
  padding: 0px 0px 0px 40px;
}

#AddDeal .imageUploadBox {
  height: 120px !important;
  width: 120px !important;
  border-radius: 4px;
  background-color: #F7F7F7;
  overflow: hidden;
  border: 1px solid #DFE1E6;
}

#AddDeal .imageCover {
  height: 110px !important;
  width: 120px !important;
}
/*# sourceMappingURL=inventory.css.map */