/* ---------------------------------------------------
    VARIABLES
----------------------------------------------------- */
/* ---------------------------------------------------
    BORDER MIXIN CLASS
    @inlcude in any class to use border.
    (direction,width,style,color,radius)
----------------------------------------------------- */
/* ---------------------------------------------------
    Border Class Loop
----------------------------------------------------- */
.borderRadius-0 {
  border-radius: 0px !important;
}

.border-0 {
  border: 0px !important;
}

.borderRadius-1 {
  border-radius: 1px !important;
}

.border-1 {
  border: 1px !important;
}

.borderRadius-2 {
  border-radius: 2px !important;
}

.border-2 {
  border: 2px !important;
}

.borderRadius-3 {
  border-radius: 3px !important;
}

.border-3 {
  border: 3px !important;
}

.borderRadius-4 {
  border-radius: 4px !important;
}

.border-4 {
  border: 4px !important;
}

.borderRadius-5 {
  border-radius: 5px !important;
}

.border-5 {
  border: 5px !important;
}

.borderRadius-6 {
  border-radius: 6px !important;
}

.border-6 {
  border: 6px !important;
}

.borderRadius-7 {
  border-radius: 7px !important;
}

.border-7 {
  border: 7px !important;
}

.borderRadius-8 {
  border-radius: 8px !important;
}

.border-8 {
  border: 8px !important;
}

.borderRadius-9 {
  border-radius: 9px !important;
}

.border-9 {
  border: 9px !important;
}

.borderRadius-10 {
  border-radius: 10px !important;
}

.border-10 {
  border: 10px !important;
}

.borderRadius-11 {
  border-radius: 11px !important;
}

.border-11 {
  border: 11px !important;
}

.borderRadius-12 {
  border-radius: 12px !important;
}

.border-12 {
  border: 12px !important;
}

.borderRadius-13 {
  border-radius: 13px !important;
}

.border-13 {
  border: 13px !important;
}

.borderRadius-14 {
  border-radius: 14px !important;
}

.border-14 {
  border: 14px !important;
}

.borderRadius-15 {
  border-radius: 15px !important;
}

.border-15 {
  border: 15px !important;
}

.borderRadius-16 {
  border-radius: 16px !important;
}

.border-16 {
  border: 16px !important;
}

.borderRadius-17 {
  border-radius: 17px !important;
}

.border-17 {
  border: 17px !important;
}

.borderRadius-18 {
  border-radius: 18px !important;
}

.border-18 {
  border: 18px !important;
}

.borderRadius-19 {
  border-radius: 19px !important;
}

.border-19 {
  border: 19px !important;
}

.borderRadius-20 {
  border-radius: 20px !important;
}

.border-20 {
  border: 20px !important;
}

.borderRadius-21 {
  border-radius: 21px !important;
}

.border-21 {
  border: 21px !important;
}

.borderRadius-22 {
  border-radius: 22px !important;
}

.border-22 {
  border: 22px !important;
}

.borderRadius-23 {
  border-radius: 23px !important;
}

.border-23 {
  border: 23px !important;
}

.borderRadius-24 {
  border-radius: 24px !important;
}

.border-24 {
  border: 24px !important;
}

.borderRadius-25 {
  border-radius: 25px !important;
}

.border-25 {
  border: 25px !important;
}

.borderRadius-26 {
  border-radius: 26px !important;
}

.border-26 {
  border: 26px !important;
}

.borderRadius-27 {
  border-radius: 27px !important;
}

.border-27 {
  border: 27px !important;
}

.borderRadius-28 {
  border-radius: 28px !important;
}

.border-28 {
  border: 28px !important;
}

.borderRadius-29 {
  border-radius: 29px !important;
}

.border-29 {
  border: 29px !important;
}

.borderRadius-30 {
  border-radius: 30px !important;
}

.border-30 {
  border: 30px !important;
}

.borderRadius-31 {
  border-radius: 31px !important;
}

.border-31 {
  border: 31px !important;
}

.borderRadius-32 {
  border-radius: 32px !important;
}

.border-32 {
  border: 32px !important;
}

.borderRadius-33 {
  border-radius: 33px !important;
}

.border-33 {
  border: 33px !important;
}

.borderRadius-34 {
  border-radius: 34px !important;
}

.border-34 {
  border: 34px !important;
}

.borderRadius-35 {
  border-radius: 35px !important;
}

.border-35 {
  border: 35px !important;
}

.borderRadius-36 {
  border-radius: 36px !important;
}

.border-36 {
  border: 36px !important;
}

.borderRadius-37 {
  border-radius: 37px !important;
}

.border-37 {
  border: 37px !important;
}

.borderRadius-38 {
  border-radius: 38px !important;
}

.border-38 {
  border: 38px !important;
}

.borderRadius-39 {
  border-radius: 39px !important;
}

.border-39 {
  border: 39px !important;
}

.borderRadius-40 {
  border-radius: 40px !important;
}

.border-40 {
  border: 40px !important;
}

.borderRadius-41 {
  border-radius: 41px !important;
}

.border-41 {
  border: 41px !important;
}

.borderRadius-42 {
  border-radius: 42px !important;
}

.border-42 {
  border: 42px !important;
}

.borderRadius-43 {
  border-radius: 43px !important;
}

.border-43 {
  border: 43px !important;
}

.borderRadius-44 {
  border-radius: 44px !important;
}

.border-44 {
  border: 44px !important;
}

.borderRadius-45 {
  border-radius: 45px !important;
}

.border-45 {
  border: 45px !important;
}

.borderRadius-46 {
  border-radius: 46px !important;
}

.border-46 {
  border: 46px !important;
}

.borderRadius-47 {
  border-radius: 47px !important;
}

.border-47 {
  border: 47px !important;
}

.borderRadius-48 {
  border-radius: 48px !important;
}

.border-48 {
  border: 48px !important;
}

.borderRadius-49 {
  border-radius: 49px !important;
}

.border-49 {
  border: 49px !important;
}

.borderRadius-50 {
  border-radius: 50px !important;
}

.border-50 {
  border: 50px !important;
}

.borderRadius-51 {
  border-radius: 51px !important;
}

.border-51 {
  border: 51px !important;
}

.borderRadius-52 {
  border-radius: 52px !important;
}

.border-52 {
  border: 52px !important;
}

.borderRadius-53 {
  border-radius: 53px !important;
}

.border-53 {
  border: 53px !important;
}

.borderRadius-54 {
  border-radius: 54px !important;
}

.border-54 {
  border: 54px !important;
}

.borderRadius-55 {
  border-radius: 55px !important;
}

.border-55 {
  border: 55px !important;
}

.borderRadius-56 {
  border-radius: 56px !important;
}

.border-56 {
  border: 56px !important;
}

.borderRadius-57 {
  border-radius: 57px !important;
}

.border-57 {
  border: 57px !important;
}

.borderRadius-58 {
  border-radius: 58px !important;
}

.border-58 {
  border: 58px !important;
}

.borderRadius-59 {
  border-radius: 59px !important;
}

.border-59 {
  border: 59px !important;
}

.borderRadius-60 {
  border-radius: 60px !important;
}

.border-60 {
  border: 60px !important;
}

.borderRadius-61 {
  border-radius: 61px !important;
}

.border-61 {
  border: 61px !important;
}

.borderRadius-62 {
  border-radius: 62px !important;
}

.border-62 {
  border: 62px !important;
}

.borderRadius-63 {
  border-radius: 63px !important;
}

.border-63 {
  border: 63px !important;
}

.borderRadius-64 {
  border-radius: 64px !important;
}

.border-64 {
  border: 64px !important;
}

.borderRadius-65 {
  border-radius: 65px !important;
}

.border-65 {
  border: 65px !important;
}

.borderRadius-66 {
  border-radius: 66px !important;
}

.border-66 {
  border: 66px !important;
}

.borderRadius-67 {
  border-radius: 67px !important;
}

.border-67 {
  border: 67px !important;
}

.borderRadius-68 {
  border-radius: 68px !important;
}

.border-68 {
  border: 68px !important;
}

.borderRadius-69 {
  border-radius: 69px !important;
}

.border-69 {
  border: 69px !important;
}

.borderRadius-70 {
  border-radius: 70px !important;
}

.border-70 {
  border: 70px !important;
}

.borderRadius-71 {
  border-radius: 71px !important;
}

.border-71 {
  border: 71px !important;
}

.borderRadius-72 {
  border-radius: 72px !important;
}

.border-72 {
  border: 72px !important;
}

.borderRadius-73 {
  border-radius: 73px !important;
}

.border-73 {
  border: 73px !important;
}

.borderRadius-74 {
  border-radius: 74px !important;
}

.border-74 {
  border: 74px !important;
}

.borderRadius-75 {
  border-radius: 75px !important;
}

.border-75 {
  border: 75px !important;
}

.borderRadius-76 {
  border-radius: 76px !important;
}

.border-76 {
  border: 76px !important;
}

.borderRadius-77 {
  border-radius: 77px !important;
}

.border-77 {
  border: 77px !important;
}

.borderRadius-78 {
  border-radius: 78px !important;
}

.border-78 {
  border: 78px !important;
}

.borderRadius-79 {
  border-radius: 79px !important;
}

.border-79 {
  border: 79px !important;
}

.borderRadius-80 {
  border-radius: 80px !important;
}

.border-80 {
  border: 80px !important;
}

.borderRadius-81 {
  border-radius: 81px !important;
}

.border-81 {
  border: 81px !important;
}

.borderRadius-82 {
  border-radius: 82px !important;
}

.border-82 {
  border: 82px !important;
}

.borderRadius-83 {
  border-radius: 83px !important;
}

.border-83 {
  border: 83px !important;
}

.borderRadius-84 {
  border-radius: 84px !important;
}

.border-84 {
  border: 84px !important;
}

.borderRadius-85 {
  border-radius: 85px !important;
}

.border-85 {
  border: 85px !important;
}

.borderRadius-86 {
  border-radius: 86px !important;
}

.border-86 {
  border: 86px !important;
}

.borderRadius-87 {
  border-radius: 87px !important;
}

.border-87 {
  border: 87px !important;
}

.borderRadius-88 {
  border-radius: 88px !important;
}

.border-88 {
  border: 88px !important;
}

.borderRadius-89 {
  border-radius: 89px !important;
}

.border-89 {
  border: 89px !important;
}

.borderRadius-90 {
  border-radius: 90px !important;
}

.border-90 {
  border: 90px !important;
}

.borderRadius-91 {
  border-radius: 91px !important;
}

.border-91 {
  border: 91px !important;
}

.borderRadius-92 {
  border-radius: 92px !important;
}

.border-92 {
  border: 92px !important;
}

.borderRadius-93 {
  border-radius: 93px !important;
}

.border-93 {
  border: 93px !important;
}

.borderRadius-94 {
  border-radius: 94px !important;
}

.border-94 {
  border: 94px !important;
}

.borderRadius-95 {
  border-radius: 95px !important;
}

.border-95 {
  border: 95px !important;
}

.borderRadius-96 {
  border-radius: 96px !important;
}

.border-96 {
  border: 96px !important;
}

.borderRadius-97 {
  border-radius: 97px !important;
}

.border-97 {
  border: 97px !important;
}

.borderRadius-98 {
  border-radius: 98px !important;
}

.border-98 {
  border: 98px !important;
}

.borderRadius-99 {
  border-radius: 99px !important;
}

.border-99 {
  border: 99px !important;
}

.borderRadius-100 {
  border-radius: 100px !important;
}

.border-100 {
  border: 100px !important;
}

.border-top {
  border-top: 0.5px solid color(neutral20) !important;
  border-radius: 0px;
}

.border-bottom {
  border-bottom: 0.5px solid color(neutral20) !important;
  border-radius: 0px;
}

.border-right {
  border-right: 0.5px solid color(neutral20) !important;
  border-radius: 0px;
}

.border-left {
  border-left: 0.5px solid color(neutral20) !important;
  border-radius: 0px;
}

.border {
  border : 0.5px solid color(neutral20) !important;
  border-radius: 0px;
}
/*# sourceMappingURL=border.css.map */