/* ---------------------------------------------------
    FLEX GAP CLASS LOOP
----------------------------------------------------- */
.gap-0 {
  gap: 0px !important;
}

.gap-1 {
  gap: 1px !important;
}

.gap-2 {
  gap: 2px !important;
}

.gap-3 {
  gap: 3px !important;
}

.gap-4 {
  gap: 4px !important;
}

.gap-5 {
  gap: 5px !important;
}

.gap-6 {
  gap: 6px !important;
}

.gap-7 {
  gap: 7px !important;
}

.gap-8 {
  gap: 8px !important;
}

.gap-9 {
  gap: 9px !important;
}

.gap-10 {
  gap: 10px !important;
}

.gap-11 {
  gap: 11px !important;
}

.gap-12 {
  gap: 12px !important;
}

.gap-13 {
  gap: 13px !important;
}

.gap-14 {
  gap: 14px !important;
}

.gap-15 {
  gap: 15px !important;
}

.gap-16 {
  gap: 16px !important;
}

.gap-17 {
  gap: 17px !important;
}

.gap-18 {
  gap: 18px !important;
}

.gap-19 {
  gap: 19px !important;
}

.gap-20 {
  gap: 20px !important;
}

.gap-21 {
  gap: 21px !important;
}

.gap-22 {
  gap: 22px !important;
}

.gap-23 {
  gap: 23px !important;
}

.gap-24 {
  gap: 24px !important;
}

.gap-25 {
  gap: 25px !important;
}

.gap-26 {
  gap: 26px !important;
}

.gap-27 {
  gap: 27px !important;
}

.gap-28 {
  gap: 28px !important;
}

.gap-29 {
  gap: 29px !important;
}

.gap-30 {
  gap: 30px !important;
}

.gap-31 {
  gap: 31px !important;
}

.gap-32 {
  gap: 32px !important;
}

.gap-33 {
  gap: 33px !important;
}

.gap-34 {
  gap: 34px !important;
}

.gap-35 {
  gap: 35px !important;
}

.gap-36 {
  gap: 36px !important;
}

.gap-37 {
  gap: 37px !important;
}

.gap-38 {
  gap: 38px !important;
}

.gap-39 {
  gap: 39px !important;
}

.gap-40 {
  gap: 40px !important;
}

.gap-41 {
  gap: 41px !important;
}

.gap-42 {
  gap: 42px !important;
}

.gap-43 {
  gap: 43px !important;
}

.gap-44 {
  gap: 44px !important;
}

.gap-45 {
  gap: 45px !important;
}

.gap-46 {
  gap: 46px !important;
}

.gap-47 {
  gap: 47px !important;
}

.gap-48 {
  gap: 48px !important;
}

.gap-49 {
  gap: 49px !important;
}

.gap-50 {
  gap: 50px !important;
}

.gap-51 {
  gap: 51px !important;
}

.gap-52 {
  gap: 52px !important;
}

.gap-53 {
  gap: 53px !important;
}

.gap-54 {
  gap: 54px !important;
}

.gap-55 {
  gap: 55px !important;
}

.gap-56 {
  gap: 56px !important;
}

.gap-57 {
  gap: 57px !important;
}

.gap-58 {
  gap: 58px !important;
}

.gap-59 {
  gap: 59px !important;
}

.gap-60 {
  gap: 60px !important;
}

.gap-61 {
  gap: 61px !important;
}

.gap-62 {
  gap: 62px !important;
}

.gap-63 {
  gap: 63px !important;
}

.gap-64 {
  gap: 64px !important;
}

.gap-65 {
  gap: 65px !important;
}

.gap-66 {
  gap: 66px !important;
}

.gap-67 {
  gap: 67px !important;
}

.gap-68 {
  gap: 68px !important;
}

.gap-69 {
  gap: 69px !important;
}

.gap-70 {
  gap: 70px !important;
}

.gap-71 {
  gap: 71px !important;
}

.gap-72 {
  gap: 72px !important;
}

.gap-73 {
  gap: 73px !important;
}

.gap-74 {
  gap: 74px !important;
}

.gap-75 {
  gap: 75px !important;
}

.gap-76 {
  gap: 76px !important;
}

.gap-77 {
  gap: 77px !important;
}

.gap-78 {
  gap: 78px !important;
}

.gap-79 {
  gap: 79px !important;
}

.gap-80 {
  gap: 80px !important;
}

.gap-81 {
  gap: 81px !important;
}

.gap-82 {
  gap: 82px !important;
}

.gap-83 {
  gap: 83px !important;
}

.gap-84 {
  gap: 84px !important;
}

.gap-85 {
  gap: 85px !important;
}

.gap-86 {
  gap: 86px !important;
}

.gap-87 {
  gap: 87px !important;
}

.gap-88 {
  gap: 88px !important;
}

.gap-89 {
  gap: 89px !important;
}

.gap-90 {
  gap: 90px !important;
}

.gap-91 {
  gap: 91px !important;
}

.gap-92 {
  gap: 92px !important;
}

.gap-93 {
  gap: 93px !important;
}

.gap-94 {
  gap: 94px !important;
}

.gap-95 {
  gap: 95px !important;
}

.gap-96 {
  gap: 96px !important;
}

.gap-97 {
  gap: 97px !important;
}

.gap-98 {
  gap: 98px !important;
}

.gap-99 {
  gap: 99px !important;
}

.gap-100 {
  gap: 100px !important;
}

/* ---------------------------------------------------
    FLEX LAYOUT MIXIN CLASS
    @inlcude in any class to use flex-layout.
    (direction,gap,justify-content,align-items)
----------------------------------------------------- */
/*# sourceMappingURL=flex-layout.css.map */