.fs-0 {
  font-size: 0px !important;
}

.fs-icon-0 {
  font-size: 0px !important;
}

.fw-0 {
  font-weight: calc(0 * 100) !important;
}

.fs-1 {
  font-size: 1px !important;
}

.fs-icon-1 {
  font-size: 1px !important;
}

.fw-1 {
  font-weight: calc(1 * 100) !important;
}

.fs-2 {
  font-size: 2px !important;
}

.fs-icon-2 {
  font-size: 2px !important;
}

.fw-2 {
  font-weight: calc(2 * 100) !important;
}

.fs-3 {
  font-size: 3px !important;
}

.fs-icon-3 {
  font-size: 3px !important;
}

.fw-3 {
  font-weight: calc(3 * 100) !important;
}

.fs-4 {
  font-size: 4px !important;
}

.fs-icon-4 {
  font-size: 4px !important;
}

.fw-4 {
  font-weight: calc(4 * 100) !important;
}

.fs-5 {
  font-size: 5px !important;
}

.fs-icon-5 {
  font-size: 5px !important;
}

.fw-5 {
  font-weight: calc(5 * 100) !important;
}

.fs-6 {
  font-size: 6px !important;
}

.fs-icon-6 {
  font-size: 6px !important;
}

.fw-6 {
  font-weight: calc(6 * 100) !important;
}

.fs-7 {
  font-size: 7px !important;
}

.fs-icon-7 {
  font-size: 7px !important;
}

.fw-7 {
  font-weight: calc(7 * 100) !important;
}

.fs-8 {
  font-size: 8px !important;
}

.fs-icon-8 {
  font-size: 8px !important;
}

.fw-8 {
  font-weight: calc(8 * 100) !important;
}

.fs-9 {
  font-size: 9px !important;
}

.fs-icon-9 {
  font-size: 9px !important;
}

.fw-9 {
  font-weight: calc(9 * 100) !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-icon-10 {
  font-size: 10px !important;
}

.fw-10 {
  font-weight: calc(10 * 100) !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-icon-11 {
  font-size: 11px !important;
}

.fw-11 {
  font-weight: calc(11 * 100) !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-icon-12 {
  font-size: 12px !important;
}

.fw-12 {
  font-weight: calc(12 * 100) !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-icon-13 {
  font-size: 13px !important;
}

.fw-13 {
  font-weight: calc(13 * 100) !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-icon-14 {
  font-size: 14px !important;
}

.fw-14 {
  font-weight: calc(14 * 100) !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-icon-15 {
  font-size: 15px !important;
}

.fw-15 {
  font-weight: calc(15 * 100) !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-icon-16 {
  font-size: 16px !important;
}

.fw-16 {
  font-weight: calc(16 * 100) !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-icon-17 {
  font-size: 17px !important;
}

.fw-17 {
  font-weight: calc(17 * 100) !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-icon-18 {
  font-size: 18px !important;
}

.fw-18 {
  font-weight: calc(18 * 100) !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-icon-19 {
  font-size: 19px !important;
}

.fw-19 {
  font-weight: calc(19 * 100) !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-icon-20 {
  font-size: 20px !important;
}

.fw-20 {
  font-weight: calc(20 * 100) !important;
}

.fs-21 {
  font-size: 21px !important;
}

.fs-icon-21 {
  font-size: 21px !important;
}

.fw-21 {
  font-weight: calc(21 * 100) !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-icon-22 {
  font-size: 22px !important;
}

.fw-22 {
  font-weight: calc(22 * 100) !important;
}

.fs-23 {
  font-size: 23px !important;
}

.fs-icon-23 {
  font-size: 23px !important;
}

.fw-23 {
  font-weight: calc(23 * 100) !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-icon-24 {
  font-size: 24px !important;
}

.fw-24 {
  font-weight: calc(24 * 100) !important;
}

.fs-25 {
  font-size: 25px !important;
}

.fs-icon-25 {
  font-size: 25px !important;
}

.fw-25 {
  font-weight: calc(25 * 100) !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-icon-26 {
  font-size: 26px !important;
}

.fw-26 {
  font-weight: calc(26 * 100) !important;
}

.fs-27 {
  font-size: 27px !important;
}

.fs-icon-27 {
  font-size: 27px !important;
}

.fw-27 {
  font-weight: calc(27 * 100) !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-icon-28 {
  font-size: 28px !important;
}

.fw-28 {
  font-weight: calc(28 * 100) !important;
}

.fs-29 {
  font-size: 29px !important;
}

.fs-icon-29 {
  font-size: 29px !important;
}

.fw-29 {
  font-weight: calc(29 * 100) !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-icon-30 {
  font-size: 30px !important;
}

.fw-30 {
  font-weight: calc(30 * 100) !important;
}

.fs-31 {
  font-size: 31px !important;
}

.fs-icon-31 {
  font-size: 31px !important;
}

.fw-31 {
  font-weight: calc(31 * 100) !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-icon-32 {
  font-size: 32px !important;
}

.fw-32 {
  font-weight: calc(32 * 100) !important;
}

.fs-33 {
  font-size: 33px !important;
}

.fs-icon-33 {
  font-size: 33px !important;
}

.fw-33 {
  font-weight: calc(33 * 100) !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-icon-34 {
  font-size: 34px !important;
}

.fw-34 {
  font-weight: calc(34 * 100) !important;
}

.fs-35 {
  font-size: 35px !important;
}

.fs-icon-35 {
  font-size: 35px !important;
}

.fw-35 {
  font-weight: calc(35 * 100) !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-icon-36 {
  font-size: 36px !important;
}

.fw-36 {
  font-weight: calc(36 * 100) !important;
}

.fs-37 {
  font-size: 37px !important;
}

.fs-icon-37 {
  font-size: 37px !important;
}

.fw-37 {
  font-weight: calc(37 * 100) !important;
}

.fs-38 {
  font-size: 38px !important;
}

.fs-icon-38 {
  font-size: 38px !important;
}

.fw-38 {
  font-weight: calc(38 * 100) !important;
}

.fs-39 {
  font-size: 39px !important;
}

.fs-icon-39 {
  font-size: 39px !important;
}

.fw-39 {
  font-weight: calc(39 * 100) !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-icon-40 {
  font-size: 40px !important;
}

.fw-40 {
  font-weight: calc(40 * 100) !important;
}

.fs-41 {
  font-size: 41px !important;
}

.fs-icon-41 {
  font-size: 41px !important;
}

.fw-41 {
  font-weight: calc(41 * 100) !important;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-icon-42 {
  font-size: 42px !important;
}

.fw-42 {
  font-weight: calc(42 * 100) !important;
}

.fs-43 {
  font-size: 43px !important;
}

.fs-icon-43 {
  font-size: 43px !important;
}

.fw-43 {
  font-weight: calc(43 * 100) !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-icon-44 {
  font-size: 44px !important;
}

.fw-44 {
  font-weight: calc(44 * 100) !important;
}

.fs-45 {
  font-size: 45px !important;
}

.fs-icon-45 {
  font-size: 45px !important;
}

.fw-45 {
  font-weight: calc(45 * 100) !important;
}

.fs-46 {
  font-size: 46px !important;
}

.fs-icon-46 {
  font-size: 46px !important;
}

.fw-46 {
  font-weight: calc(46 * 100) !important;
}

.fs-47 {
  font-size: 47px !important;
}

.fs-icon-47 {
  font-size: 47px !important;
}

.fw-47 {
  font-weight: calc(47 * 100) !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fs-icon-48 {
  font-size: 48px !important;
}

.fw-48 {
  font-weight: calc(48 * 100) !important;
}

.fs-49 {
  font-size: 49px !important;
}

.fs-icon-49 {
  font-size: 49px !important;
}

.fw-49 {
  font-weight: calc(49 * 100) !important;
}

.fs-50 {
  font-size: 50px !important;
}

.fs-icon-50 {
  font-size: 50px !important;
}

.fw-50 {
  font-weight: calc(50 * 100) !important;
}

.fs-51 {
  font-size: 51px !important;
}

.fs-icon-51 {
  font-size: 51px !important;
}

.fw-51 {
  font-weight: calc(51 * 100) !important;
}

.fs-52 {
  font-size: 52px !important;
}

.fs-icon-52 {
  font-size: 52px !important;
}

.fw-52 {
  font-weight: calc(52 * 100) !important;
}

.fs-53 {
  font-size: 53px !important;
}

.fs-icon-53 {
  font-size: 53px !important;
}

.fw-53 {
  font-weight: calc(53 * 100) !important;
}

.fs-54 {
  font-size: 54px !important;
}

.fs-icon-54 {
  font-size: 54px !important;
}

.fw-54 {
  font-weight: calc(54 * 100) !important;
}

.fs-55 {
  font-size: 55px !important;
}

.fs-icon-55 {
  font-size: 55px !important;
}

.fw-55 {
  font-weight: calc(55 * 100) !important;
}

.fs-56 {
  font-size: 56px !important;
}

.fs-icon-56 {
  font-size: 56px !important;
}

.fw-56 {
  font-weight: calc(56 * 100) !important;
}

.fs-57 {
  font-size: 57px !important;
}

.fs-icon-57 {
  font-size: 57px !important;
}

.fw-57 {
  font-weight: calc(57 * 100) !important;
}

.fs-58 {
  font-size: 58px !important;
}

.fs-icon-58 {
  font-size: 58px !important;
}

.fw-58 {
  font-weight: calc(58 * 100) !important;
}

.fs-59 {
  font-size: 59px !important;
}

.fs-icon-59 {
  font-size: 59px !important;
}

.fw-59 {
  font-weight: calc(59 * 100) !important;
}

.fs-60 {
  font-size: 60px !important;
}

.fs-icon-60 {
  font-size: 60px !important;
}

.fw-60 {
  font-weight: calc(60 * 100) !important;
}

.fs-61 {
  font-size: 61px !important;
}

.fs-icon-61 {
  font-size: 61px !important;
}

.fw-61 {
  font-weight: calc(61 * 100) !important;
}

.fs-62 {
  font-size: 62px !important;
}

.fs-icon-62 {
  font-size: 62px !important;
}

.fw-62 {
  font-weight: calc(62 * 100) !important;
}

.fs-63 {
  font-size: 63px !important;
}

.fs-icon-63 {
  font-size: 63px !important;
}

.fw-63 {
  font-weight: calc(63 * 100) !important;
}

.fs-64 {
  font-size: 64px !important;
}

.fs-icon-64 {
  font-size: 64px !important;
}

.fw-64 {
  font-weight: calc(64 * 100) !important;
}

.fs-65 {
  font-size: 65px !important;
}

.fs-icon-65 {
  font-size: 65px !important;
}

.fw-65 {
  font-weight: calc(65 * 100) !important;
}

.fs-66 {
  font-size: 66px !important;
}

.fs-icon-66 {
  font-size: 66px !important;
}

.fw-66 {
  font-weight: calc(66 * 100) !important;
}

.fs-67 {
  font-size: 67px !important;
}

.fs-icon-67 {
  font-size: 67px !important;
}

.fw-67 {
  font-weight: calc(67 * 100) !important;
}

.fs-68 {
  font-size: 68px !important;
}

.fs-icon-68 {
  font-size: 68px !important;
}

.fw-68 {
  font-weight: calc(68 * 100) !important;
}

.fs-69 {
  font-size: 69px !important;
}

.fs-icon-69 {
  font-size: 69px !important;
}

.fw-69 {
  font-weight: calc(69 * 100) !important;
}

.fs-70 {
  font-size: 70px !important;
}

.fs-icon-70 {
  font-size: 70px !important;
}

.fw-70 {
  font-weight: calc(70 * 100) !important;
}

.fs-71 {
  font-size: 71px !important;
}

.fs-icon-71 {
  font-size: 71px !important;
}

.fw-71 {
  font-weight: calc(71 * 100) !important;
}

.fs-72 {
  font-size: 72px !important;
}

.fs-icon-72 {
  font-size: 72px !important;
}

.fw-72 {
  font-weight: calc(72 * 100) !important;
}

.fs-73 {
  font-size: 73px !important;
}

.fs-icon-73 {
  font-size: 73px !important;
}

.fw-73 {
  font-weight: calc(73 * 100) !important;
}

.fs-74 {
  font-size: 74px !important;
}

.fs-icon-74 {
  font-size: 74px !important;
}

.fw-74 {
  font-weight: calc(74 * 100) !important;
}

.fs-75 {
  font-size: 75px !important;
}

.fs-icon-75 {
  font-size: 75px !important;
}

.fw-75 {
  font-weight: calc(75 * 100) !important;
}

.fs-76 {
  font-size: 76px !important;
}

.fs-icon-76 {
  font-size: 76px !important;
}

.fw-76 {
  font-weight: calc(76 * 100) !important;
}

.fs-77 {
  font-size: 77px !important;
}

.fs-icon-77 {
  font-size: 77px !important;
}

.fw-77 {
  font-weight: calc(77 * 100) !important;
}

.fs-78 {
  font-size: 78px !important;
}

.fs-icon-78 {
  font-size: 78px !important;
}

.fw-78 {
  font-weight: calc(78 * 100) !important;
}

.fs-79 {
  font-size: 79px !important;
}

.fs-icon-79 {
  font-size: 79px !important;
}

.fw-79 {
  font-weight: calc(79 * 100) !important;
}

.fs-80 {
  font-size: 80px !important;
}

.fs-icon-80 {
  font-size: 80px !important;
}

.fw-80 {
  font-weight: calc(80 * 100) !important;
}

.fs-81 {
  font-size: 81px !important;
}

.fs-icon-81 {
  font-size: 81px !important;
}

.fw-81 {
  font-weight: calc(81 * 100) !important;
}

.fs-82 {
  font-size: 82px !important;
}

.fs-icon-82 {
  font-size: 82px !important;
}

.fw-82 {
  font-weight: calc(82 * 100) !important;
}

.fs-83 {
  font-size: 83px !important;
}

.fs-icon-83 {
  font-size: 83px !important;
}

.fw-83 {
  font-weight: calc(83 * 100) !important;
}

.fs-84 {
  font-size: 84px !important;
}

.fs-icon-84 {
  font-size: 84px !important;
}

.fw-84 {
  font-weight: calc(84 * 100) !important;
}

.fs-85 {
  font-size: 85px !important;
}

.fs-icon-85 {
  font-size: 85px !important;
}

.fw-85 {
  font-weight: calc(85 * 100) !important;
}

.fs-86 {
  font-size: 86px !important;
}

.fs-icon-86 {
  font-size: 86px !important;
}

.fw-86 {
  font-weight: calc(86 * 100) !important;
}

.fs-87 {
  font-size: 87px !important;
}

.fs-icon-87 {
  font-size: 87px !important;
}

.fw-87 {
  font-weight: calc(87 * 100) !important;
}

.fs-88 {
  font-size: 88px !important;
}

.fs-icon-88 {
  font-size: 88px !important;
}

.fw-88 {
  font-weight: calc(88 * 100) !important;
}

.fs-89 {
  font-size: 89px !important;
}

.fs-icon-89 {
  font-size: 89px !important;
}

.fw-89 {
  font-weight: calc(89 * 100) !important;
}

.fs-90 {
  font-size: 90px !important;
}

.fs-icon-90 {
  font-size: 90px !important;
}

.fw-90 {
  font-weight: calc(90 * 100) !important;
}

.fs-91 {
  font-size: 91px !important;
}

.fs-icon-91 {
  font-size: 91px !important;
}

.fw-91 {
  font-weight: calc(91 * 100) !important;
}

.fs-92 {
  font-size: 92px !important;
}

.fs-icon-92 {
  font-size: 92px !important;
}

.fw-92 {
  font-weight: calc(92 * 100) !important;
}

.fs-93 {
  font-size: 93px !important;
}

.fs-icon-93 {
  font-size: 93px !important;
}

.fw-93 {
  font-weight: calc(93 * 100) !important;
}

.fs-94 {
  font-size: 94px !important;
}

.fs-icon-94 {
  font-size: 94px !important;
}

.fw-94 {
  font-weight: calc(94 * 100) !important;
}

.fs-95 {
  font-size: 95px !important;
}

.fs-icon-95 {
  font-size: 95px !important;
}

.fw-95 {
  font-weight: calc(95 * 100) !important;
}

.fs-96 {
  font-size: 96px !important;
}

.fs-icon-96 {
  font-size: 96px !important;
}

.fw-96 {
  font-weight: calc(96 * 100) !important;
}

.fs-97 {
  font-size: 97px !important;
}

.fs-icon-97 {
  font-size: 97px !important;
}

.fw-97 {
  font-weight: calc(97 * 100) !important;
}

.fs-98 {
  font-size: 98px !important;
}

.fs-icon-98 {
  font-size: 98px !important;
}

.fw-98 {
  font-weight: calc(98 * 100) !important;
}

.fs-99 {
  font-size: 99px !important;
}

.fs-icon-99 {
  font-size: 99px !important;
}

.fw-99 {
  font-weight: calc(99 * 100) !important;
}

.fs-100 {
  font-size: 100px !important;
}

.fs-icon-100 {
  font-size: 100px !important;
}

.fw-100 {
  font-weight: calc(100 * 100) !important;
}
/*# sourceMappingURL=font-size.css.map */